includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        -
            identifier: class.notFound
            path: src/Mail/Drivers/ImapDriver.php
        -
            identifier: trait.unused
